<a href="https://colab.research.google.com/github/Sivalakshmi2004/ANALYSIS-OF-ALL-MAILS-INCLUDING-SPAM-AND-TRASH/blob/main/Commodity_Search_system_for_online_shopping_using_ML_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/market.csv')
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ord_id               8399 non-null   object
 1   Prod_id              8399 non-null   object
 2   Ship_id              8399 non-null   object
 3   Cust_id              8399 non-null   object
 4   Sales                8399 non-null   float64
 5   Discount             8399 non-null   float64
 6   Order_Quantity       8399 non-null   int64
 7   Profit               8399 non-null   float64
 8   Shipping_Cost        8399 non-null   float64
 9   Product_Base_Margin  8336 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.3+ KB

In [ ]:
print(df.columns)

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [ ]:
#selecting columns
# Selecting only the relevant columns
df = df[['Sales','Order_Quantity', 'Discount', 'Profit', 'Shipping_Cost', 'Product_Base_Margin']]

In [ ]:
df.isna().sum()

Sales                   0
Order_Quantity          0
Discount                0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [ ]:
df=df.drop('Product_Base_Margin',axis=1)

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
#selecting columns
df = df[['Sales','Order_Quantity', 'Discount', 'Profit', 'Shipping_Cost']]

# Split the data into training and testing sets
X = df.drop('Sales', axis=1)
y = df['Sales']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the random forest regression model
rfr = RandomForestRegressor(n_estimators=100, random_state=42)


# Fit the model to the training data
rfr.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = rfr.predict(X_test)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print('Mean squared error:', mse)

# Define a function to take user input and make a prediction
def search_product():
    order_quantity = int(input('Enter the order quantity: '))
    discount = float(input('Enter the discount percentage: '))
    profit = float(input('Enter the profit percentage: '))
    shipping_cost = float(input('Enter the shipping cost: '))
    new_data = [[order_quantity, discount, profit, shipping_cost]]
    prediction = rfr.predict(new_data)[0]
    print('Predicted sales:', prediction)

# Call the search_product() function to get user input and make a prediction
search_product()

Mean squared error: 3002629.138742271
Enter the order quantity: 13
Enter the discount percentage: 0.01
Enter the profit percentage: 4.56
Enter the shipping cost: 0.93
Predicted sales: 45.79152500000002

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(